.scrib_test{
	border: 2px solid red;
}

ul#scrib_meditor {
	padding: 0;
	margin: 0;
}

#scrib_meditor li.fieldset_title {
	list-style: none;
	width:692px;
	padding: 0;
	margin: 0;
	clear:left;
}

#scrib_meditor h2 {
/*	border: 2px solid red; */
	padding: 20px 0 0 0;
	margin: 0 0 0 0;
}

#scrib_meditor ul.fieldset_title {
/*border: 10px solid #999;*/
	width:692px;
	padding: 0;
	margin: 0;
}

#scrib_meditor li.fieldset {
	list-style: none;
	width:692px;
	height: 50px;
	padding: 0;
	margin: 0;
	clear:left;
}

/* repeatable buttons */
#scrib_meditor div.repeatable-buttons {
	width: 65px;
	display: inline;
	float: right;
}
#scrib_meditor div.repeatable button:hover, #scrib_meditor div.repeatable button:focus {
	cursor: pointer;
	-webkit-transform: scale(1.3,2) translate(0px, 2px);
}

/* sortable handles */
#scrib_meditor div.sortable-handle {
	width: 35px;
	display: inline;
	cursor: pointer;
	float: left;
}

#scrib_meditor ul.fieldset {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline;
}

#scrib_meditor li.field {
	list-style: none;
	float: left;
}

#scrib_meditor label {
	color: #888;
	display: block;
}

p.scrib_meditor_end
{
	clear: both;
}